# see the .env file for variable definitions

services:

  github-oss:
    build:
      context: ./oss
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: ubuntu:24.04
        OSS_CAD_SUITE_VERSION: ${OSS_CAD_SUITE_VERSION}
    image: tomkarolyshyn/github-oss:${OSS_CAD_SUITE_VERSION}


  llvm-python:
    build:
      context: ./llvm-python
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: ubuntu:24.04
        LLVM_VERSION: ${LLVM_VERSION:-20}
    image: tomkarolyshyn/llvm-python:3.12-${LLVM_VERSION}

  rtl-sim:
    build:
      context: ./rtl-sim
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: ubuntu:24.04
        VERILATOR_REV: ${VERILATOR_REV}
    image: tomkarolyshyn/rtl-sim:${VERILATOR_REV}
    container_name: rtl_sim

  llvm-verilator:
    depends_on:
      - llvm-python
    build:
      context: ./rtl-sim
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: tomkarolyshyn/llvm-python:3.12-${LLVM_VERSION}
        VERILATOR_REV: ${VERILATOR_REV}
    image: tomkarolyshyn/llvm-verilator:${LLVM_VERSION}-${VERILATOR_REV}
    container_name: llvm_verilator

  llvm-oss:
    depends_on:
      - llvm-python
    build:
      context: ./oss
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: tomkarolyshyn/llvm-python:3.12-${LLVM_VERSION}
        OSS_CAD_SUITE_VERSION: ${OSS_CAD_SUITE_VERSION}
    image: tomkarolyshyn/llvm-oss:${LLVM_VERSION}-${OSS_CAD_SUITE_VERSION}

  llvm-cuda:
    # depends_on:
    #   - llvm-python
    build:
      context: ./llvm-cuda
      dockerfile: Dockerfile
      args:
       BASE_IMAGE: nvidia/cuda:${CUDA_VERSION}-cudnn-runtime-ubuntu24.04
       LLVM_VERSION: ${LLVM_VERSION}
    image: tomkarolyshyn/llvm-cuda:cuda-${CUDA_VERSION}-llvm-${LLVM_VERSION}
    container_name: llvm_cuda

  vitis:
    build:
      context: ./vitis
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: ubuntu:24.04
        VIVADO_DIR: Xilinx_2025.1
    environment:
      - DISPLAY=${DISPLAY}
      - SSH_AUTH_SOCK=/ssh-agent
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix #x11
      - $SSH_AUTH_SOCK:/ssh-agent
    image: vitis:2025.1
    network_mode: host # Optional: Only for Linux
    stdin_open: true
    tty: true
    container_name: vitis
